body{
    background-color: rgb(31, 48, 63);
    font-family: "Courier New", Courier, monospace;
    font-stretch: condensed;
    text-align: left;
    color: rgb(125, 202, 125);
}

h1{
    font-size: larger;
}

sub{
    vertical-align: sub;
    font-size: smaller;
}

sup{
    vertical-align: super;
    font-size: smaller;
}

button{
    background-color: rgb(61, 61, 61);
    font-family: "Courier New", Courier, monospace;
    font-size: smaller;
    align-self: center;
    display: block;
    margin: auto;
    color: aqua;
}

.main-part{
    text-align: center;
    
}

a{
    color: rgb(21, 255, 52);
}

.box{

    width: fit-content;
    height: fit-content;
    border: 3px dotted black;
    padding: 10px;
    margin: 10px;
    align-self: center;
    background-color: rgb(23, 37, 28);
}