body{
    background-color: rgb(29, 0, 22);
    font-family: "Courier New", Courier, monospace;
    font-stretch: condensed;
    text-align: left;
    color: rgb(57, 158, 184);
}

h1{
    font-size: larger;
}

sub{
    vertical-align: sub;
    font-size: smaller;
}

sup{
    vertical-align: super;
    font-size: smaller;
}

button{
    background-color: rgb(82, 63, 83);
    font-family: "Courier New", Courier, monospace;
    font-size: smaller;
    align-self: center;
    display: block;
    margin: auto;
    color: rgb(255, 217, 0);
}

.main-part{
    text-align: center;
    
}

a{
    color: rgb(21, 255, 52);
}

.box{

    width: fit-content;
    height: fit-content;
    border: 3px dotted rgb(60, 107, 129);
    padding: 10px;
    margin: 10px;
    align-self: center;
    background-color: rgb(85, 60, 14);
}