body{
    background-color: rgb(92, 150, 201);
    font-family: "Courier New", Courier, monospace;
    font-stretch: condensed;
    text-align: left;
}

h1{
    font-size: larger;
}

sub{
    vertical-align: sub;
    font-size: smaller;
}

sup{
    vertical-align: super;
    font-size: smaller;
}

button{
    background-color: rgb(136, 238, 106);
    font-family: "Courier New", Courier, monospace;
    font-size: smaller;
    align-self: center;
    display: block;
    margin: auto;
}

.main-part{
    text-align: center;
    
}